@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
// font-family: 'Noto Sans',
// sans-serif;
// font-family: 'Open Sans',
// sans-serif;
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Open Sans', sans-serif;
    scroll-behavior: smooth;
}

nav {
    z-index: 100;
    width: 100%;
    background-color: black;
    position: fixed;
    top: 0;
}

.navbar__container {
    z-index: auto;
    // position: fixed;
    // top: 0;
    a {
        color: white;
        text-decoration: none;
    }
    color: white;
    margin: 0px auto;
    max-width: 1000px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    padding: 5px 2px;
}

.nav__logo {
    z-index: 1;
    padding: 0px 10px;
}

.navbar__menu ul {
    color: white;
    display: flex;
    flex-flow: row wrap;
    list-style: none;
    text-align: center;
    justify-content: space-around;
    // overflow: auto;
    li {
        margin: 5px;
        padding: 10px;
        // color: black;
        font-size: 1.1rem;
        border-radius: 3px;
        // color: black;
        transition: background-color 0.4s ease-out;
        a {
            text-decoration: none;
            // color: black;
            color: inherit;
            font-weight: 400;
        }
    }
    li:hover {
        background: #ccc;
        color: black;
    }
}

.flex-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

.hero-box {
    padding: 3rem 2rem;
    width: 100%;
    background: black;
    ;
    .hero-text {
        margin-left: auto;
        margin-right: auto;
        // margin-top: 15px;
        max-width: 1000px;
        margin-top: 3rem;
        background-color: black;
        color: white;
        .hero-heading {
            letter-spacing: -2px;
            ;
            font-size: 1.4rem;
            line-height: 3.4rem;
            color: white;
            span {
                display: inline;
                padding-right: 5 px;
                background-image: linear-gradient( 108deg, #b16cea 8%, #ff5e69 40%, #ff8a56 77%, #ffa84b 91%);
                -webkit-background-clip: text;
                background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }
        .hero-parra {
            margin: 15px 0px;
            font-weight: 400;
        }
        .hero-buttons {
            display: flex;
            justify-content: start;
            .primary__button {
                border-width: 0px;
                // position: relative;
                // z-index: 1;
                padding: 10px;
                background-color: white;
                margin-right: 20px;
                border-radius: 4px;
                transition: transform 0.3s ease-out;
            }
            .primary__button:hover {
                transform: scale(1.1);
                // transform: scale();
            }
            .secondary__button {
                border-width: 0px;
                // position: relative;
                // z-index: 1;
                padding: 10px;
                background-color: white;
                margin-right: 20px;
                border-radius: 4px;
                transition: transform 0.3s ease-out;
                i {
                    margin-left: 5px;
                    transition: transform 0.2s ease-out;
                }
            }
            .secondary__button:hover {
                transform: scale(1.1);
                // transform: scale();
                i {
                    transform: translateX(5px);
                }
            }
        }
    }
}

.timeline-section {
    background-color: #fdfd;
    // background-image: url(https://images.unsplash.com/photo-1604076913837-52ab5629fba9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8Z3JhZGllbnR8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60);
    // object-fit: cover;
    // background-clip: border-box;
    // background-repeat: no-repeat;
    padding: 2rem;
    // filter: blur(1rem);
    // .content:before {
    //     position: absolute;
    //     content: '';
    //     width: 2px;
    //     height: calc(100% + 50px);
    //     // background: //rgb(138, 145, 150) ;
    //     background: #ccc;
    //     background: -moz-linear-gradient(left, rgba(138, 145, 150, 1) 0%, rgba(122, 130, 136, 1) 60%, rgba(98, 105, 109, 1) 100%);
    //     background: -webkit-linear-gradient(left, rgba(138, 145, 150, 1) 0%, rgba(122, 130, 136, 1) 60%, rgba(98, 105, 109, 1) 100%);
    //     background: linear-gradient(to right, rgba(138, 145, 150, 1) 0%, rgba(122, 130, 136, 1) 60%, rgba(98, 105, 109, 1) 100%);
    //     // filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#8a9196', endColorstr='#62696d', GradientType=1);
    //     left: 15px;
    //     top: 5px;
    //     border-radius: 4px;
    // }
    .container {
        display: grid;
        grid-template-columns: auto 1fr;
        grid-template-rows: auto;
        grid-gap: 0rem rem 0rem;
        margin: 0px auto;
        max-width: 1000px;
        .content-wrapper {
            position: relative;
            border-left: 1px solid#ccc;
            margin-left: -1rem;
            z-index: 20;
            display: flex;
            &:last-child {
                border: none;
            }
        }
        .timeline-logo {
            margin-right: 5px;
            position: relative;
            // z-index: 1;
            img {
                position: relative;
                z-index: 50;
                width: 1.4rem;
                border-radius: 100%;
                border-width: 2px;
                border-color: white;
                border-style: solid;
            }
        }
        .content {
            max-width: 320px;
            margin-left: 1.8rem;
            margin-bottom: 1rem;
            border-radius: 3px;
            background-color: whitesmoke;
            border-style: solid;
            border-width: 1px;
            border-color: #ccc;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
            .header-right {
                margin-right: 5px
            }
            .header {
                border-top-left-radius: inherit;
                border-top-right-radius: inherit;
                padding: 0.4rem;
                display: flex;
                color: white;
                justify-content: space-between;
                align-items: center;
                border-bottom-style: solid;
                border-width: 1px;
                border-color: #ccc;
                background-color: black;
                .card-title {
                    margin-left: 5px;
                    .topic {
                        font-size: 1.2rem;
                        font-weight: 600;
                    }
                }
                .status {
                    display: flex;
                    justify-content: space-between;
                    border-style: solid;
                    align-items: center;
                    border-color: #ccc;
                    border-width: 1px;
                    padding: 1px 3px;
                    border-radius: 5px;
                    i {
                        font-size: 0.7rem;
                        font-weight: 300;
                    }
                    span {
                        font-weight: 400;
                        font-size: 0.7rem;
                        margin-left: 3px;
                    }
                }
                .completed {
                    border-color: #82f899;
                    background-color: #27581db2;
                    color: #90faa5;
                }
            }
            .description {
                padding: 5px 11px;
            }
        }
    }
}

.image-box {
    border-radius: 50%;
    margin: 0px auto;
    img {
        border-radius: 50%;
        width: 70%;
        height: auto;
    }
}

.hero-buttons {
    a {
        display: block;
    }
}

@media (max-width:415px) {
    .hero-heading,
    .hero-parra,
    .hero-buttons {
        text-align: center;
    }
    .hero-box {
        height: 80vh;
        padding: 0rem 2rem;
    }
    .hero-buttons {
        justify-content: center;
        align-items: center;
    }
}

@media (min-width:800px) {
    .timeline-logo {
        img {
            width: 4rem;
        }
    }
    .hero-box {
        padding: 2rem 2rem;
        // margin: 0px auto;
    }
    .hero-heading {
        h1 {
            font-size: 3.4rem;
        }
    }
}