@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Open Sans', sans-serif;
  scroll-behavior: smooth;
}

nav {
  width: 100%;
  background-color: black;
  position: fixed;
  top: 0;
}

.navbar__container {
  color: white;
  margin: 0px auto;
  max-width: 1000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px 2px;
}

.navbar__container a {
  color: white;
  text-decoration: none;
}

.nav__logo {
  padding: 0px 10px;
}

.navbar__menu ul {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  list-style: none;
  text-align: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.navbar__menu ul li {
  margin: 5px;
  padding: 10px;
  font-size: 1.1rem;
  border-radius: 3px;
  -webkit-transition: background-color 0.4s ease-out;
  transition: background-color 0.4s ease-out;
}

.navbar__menu ul li a {
  text-decoration: none;
  color: inherit;
  font-weight: 400;
}

.navbar__menu ul li:hover {
  background: #ccc;
  color: black;
}

.flex-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: black;
  width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

.hero-box {
  padding: 3rem 2rem;
  width: 100%;
  background: black;
}

.hero-box .hero-text {
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
  margin-top: 3rem;
  background-color: black;
  color: white;
}

.hero-box .hero-text .hero-heading {
  letter-spacing: -2px;
  font-size: 1.4rem;
  line-height: 3.4rem;
  color: white;
}

.hero-box .hero-text .hero-heading span {
  display: inline;
  padding-right: 5 px;
  background-image: linear-gradient(108deg, #b16cea 8%, #ff5e69 40%, #ff8a56 77%, #ffa84b 91%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero-box .hero-text .hero-parra {
  margin: 15px 0px;
  font-weight: 400;
}

.hero-box .hero-text .hero-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.hero-box .hero-text .hero-buttons .primary__button {
  border-width: 0px;
  padding: 10px;
  background-color: white;
  margin-right: 20px;
  border-radius: 4px;
  -webkit-transition: -webkit-transform 0.3s ease-out;
  transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
}

.hero-box .hero-text .hero-buttons .primary__button:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.hero-box .hero-text .hero-buttons .secondary__button {
  border-width: 0px;
  padding: 10px;
  background-color: white;
  margin-right: 20px;
  border-radius: 4px;
  -webkit-transition: -webkit-transform 0.3s ease-out;
  transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
}

.hero-box .hero-text .hero-buttons .secondary__button i {
  margin-left: 5px;
  -webkit-transition: -webkit-transform 0.2s ease-out;
  transition: -webkit-transform 0.2s ease-out;
  transition: transform 0.2s ease-out;
  transition: transform 0.2s ease-out, -webkit-transform 0.2s ease-out;
}

.hero-box .hero-text .hero-buttons .secondary__button:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.hero-box .hero-text .hero-buttons .secondary__button:hover i {
  -webkit-transform: translateX(5px);
          transform: translateX(5px);
}

.timeline-section {
  background-color: #fdfd;
  padding: 2rem;
}

.timeline-section .container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 1fr;
      grid-template-columns: auto 1fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  grid-gap: 1.5rem 1rem;
  margin: 0px auto;
  max-width: 1000px;
}

.timeline-section .container .timeline-logo img {
  width: 1.4rem;
  border-radius: 100%;
  border-width: 2px;
  border-color: white;
  border-style: solid;
}

.timeline-section .container .content {
  border-radius: 3px;
  background-color: whitesmoke;
  border-style: solid;
  border-width: 1px;
  border-color: #ccc;
}

.timeline-section .container .content .header-right {
  margin-right: 5px;
}

.timeline-section .container .content .header {
  padding: 0.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom-style: solid;
  border-width: 1px;
  border-color: #ccc;
  background-color: black;
}

.timeline-section .container .content .header .card-title {
  margin-left: 5px;
}

.timeline-section .container .content .header .card-title .topic {
  font-size: 1.2rem;
  font-weight: 600;
}

.timeline-section .container .content .header .status {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-style: solid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-color: #ccc;
  border-width: 1px;
  padding: 1px 3px;
  border-radius: 5px;
}

.timeline-section .container .content .header .status i {
  font-size: 0.7rem;
  font-weight: 300;
}

.timeline-section .container .content .header .status span {
  font-weight: 400;
  font-size: 0.7rem;
  margin-left: 3px;
}

.timeline-section .container .content .header .completed {
  border-color: #82f899;
  background-color: #27581db2;
  color: #90faa5;
}

.timeline-section .container .content .description {
  padding: 5px 11px;
}

.image-box {
  border-radius: 50%;
  margin: 0px auto;
}

.image-box img {
  border-radius: 50%;
  width: 70%;
  height: auto;
}

.hero-buttons a {
  display: block;
}

@media (max-width: 415px) {
  .hero-heading,
  .hero-parra,
  .hero-buttons {
    text-align: center;
  }
  .hero-box {
    height: 80vh;
    padding: 0rem 2rem;
  }
  .hero-buttons {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (min-width: 800px) {
  .timeline-logo img {
    width: 4rem;
  }
  .hero-box {
    padding: 2rem 2rem;
  }
  .hero-heading h1 {
    font-size: 3.4rem;
  }
}
/*# sourceMappingURL=style.css.map */