@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  /* Track */
  /* Handle */
  /* Handle on hover */
}

html ::-webkit-scrollbar {
  width: 3px;
}

html ::-webkit-scrollbar-track {
  background: #ffffff;
}

html ::-webkit-scrollbar-thumb {
  background: #b16cea;
}

html ::-webkit-scrollbar-thumb:hover {
  background: #555;
}

::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ffffff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #b16cea;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

body {
  font-family: 'Open Sans', sans-serif;
  scroll-behavior: smooth;
}

nav {
  z-index: 100;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.712);
  position: fixed;
  top: 0;
  -webkit-backdrop-filter: blur(1rem);
          backdrop-filter: blur(1rem);
}

.navbar__container {
  z-index: auto;
  color: white;
  margin: 0px auto;
  max-width: 1000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px 2px;
}

.navbar__container a {
  color: white;
  text-decoration: none;
}

.nav__logo {
  z-index: 1;
  padding: 0px 10px;
}

.navbar__menu ul {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  list-style: none;
  text-align: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.navbar__menu ul li {
  margin: 5px;
  padding: 10px;
  font-size: 1.1rem;
  border-radius: 3px;
  -webkit-transition: background-color 0.4s ease-out;
  transition: background-color 0.4s ease-out;
}

.navbar__menu ul li a {
  text-decoration: none;
  color: inherit;
  font-weight: 400;
}

.navbar__menu ul li:hover {
  background: #d9f2fc;
  color: black;
}

.flex-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: black;
  width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

.hero-box {
  padding: 3rem 2rem;
  width: 100%;
  background: black;
}

.hero-box .hero-text {
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
  margin-top: 3rem;
  background-color: black;
  color: white;
}

.hero-box .hero-text .hero-heading {
  letter-spacing: -2px;
  font-size: 1.4rem;
  line-height: 3.4rem;
  color: white;
}

.hero-box .hero-text .hero-heading span {
  display: inline;
  padding-right: 5 px;
  background-image: linear-gradient(108deg, #b16cea 8%, #ff5e69 40%, #ff8a56 77%, #ffa84b 91%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero-box .hero-text .hero-parra {
  margin: 15px 0px;
  font-weight: 400;
}

.hero-box .hero-text .hero-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero-box .hero-text .hero-buttons .primary__button {
  border-width: 0px;
  padding: 10px;
  background-color: white;
  margin-right: 20px;
  border-radius: 4px;
  -webkit-transition: -webkit-transform 0.3s ease-out;
  transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
}

.hero-box .hero-text .hero-buttons .primary__button:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.hero-box .hero-text .hero-buttons .secondary__button {
  border-width: 0px;
  padding: 10px;
  background-color: white;
  margin-right: 20px;
  border-radius: 4px;
  -webkit-transition: -webkit-transform 0.3s ease-out;
  transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
}

.hero-box .hero-text .hero-buttons .secondary__button i {
  margin-left: 5px;
  -webkit-transition: -webkit-transform 0.2s ease-out;
  transition: -webkit-transform 0.2s ease-out;
  transition: transform 0.2s ease-out;
  transition: transform 0.2s ease-out, -webkit-transform 0.2s ease-out;
}

.hero-box .hero-text .hero-buttons .secondary__button:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.hero-box .hero-text .hero-buttons .secondary__button:hover i {
  -webkit-transform: translateX(5px);
          transform: translateX(5px);
}

.timeline-section {
  -webkit-backdrop-filter: blur(2rem);
          backdrop-filter: blur(2rem);
  background-color: #F1F3F8;
  padding: 2rem 3.2rem 2rem 3.2rem;
}

.timeline-section h1 {
  display: block;
  text-align: center;
  border-bottom: 1px solid #b16cea;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  padding: 0px 10px;
  margin-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;
}

.timeline-section .blur {
  -webkit-backdrop-filter: blur(3rem);
          backdrop-filter: blur(3rem);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.timeline-section .container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 1fr;
      grid-template-columns: auto 1fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  grid-gap: 0rem rem 0rem;
  margin: 0px auto;
  max-width: 1000px;
  max-height: 700px;
  overflow: auto;
}

.timeline-section .container .content-wrapper {
  margin-right: 5px;
  position: relative;
  border-left: 1px solid #b16cea;
  margin-left: -1rem;
  z-index: 20;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.timeline-section .container .content-wrapper:last-child {
  border: none;
}

.timeline-section .container .timeline-logo {
  margin-right: 3px;
  position: relative;
  z-index: 50;
}

.timeline-section .container .timeline-logo i {
  z-index: inherit;
  font-size: 1.6rem;
  color: #b16cea;
  background-color: white;
  border-radius: 100%;
  border-style: solid;
}

.timeline-section .container .timeline-logo img {
  display: block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: white;
  background-clip: content-box;
  position: relative;
  z-index: 50;
  width: 1.6rem;
  height: auto;
  border-radius: 100%;
  border-width: 2px;
  border-color: #b16cea;
  border-style: solid;
}

.timeline-section .container .content {
  max-width: 320px;
  margin-left: 1.8rem;
  margin-bottom: 1rem;
  border-radius: 3px;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#d9f2fc), to(white));
  background-image: linear-gradient(to bottom right, #d9f2fc, white);
  border-style: solid;
  border-width: 1px;
  border-color: #ccc;
  -webkit-transition: -webkit-transform 0.2s ease-out;
  transition: -webkit-transform 0.2s ease-out;
  transition: transform 0.2s ease-out;
  transition: transform 0.2s ease-out, -webkit-transform 0.2s ease-out;
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.timeline-section .container .content:hover {
  -webkit-transform: scale(1.01, 1.01);
          transform: scale(1.01, 1.01);
}

.timeline-section .container .content:hover .timeline-logo img {
  -webkit-transform: scale(2, 2);
          transform: scale(2, 2);
}

.timeline-section .container .content .header-right {
  margin-right: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.timeline-section .container .content .header {
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  padding: 0.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #f1fbff;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom-style: solid;
  border-width: 1px;
  border-color: #ccc;
  background-color: black;
}

.timeline-section .container .content .header .completion-date {
  font-size: 0.5rem;
  padding-top: 2px;
  color: #cfcfcf;
  font-style: italic;
}

.timeline-section .container .content .header .card-title {
  margin-left: 5px;
}

.timeline-section .container .content .header .card-title .topic {
  font-size: 1rem;
  font-weight: 500;
}

.timeline-section .container .content .header .status {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-style: solid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-color: #ccc;
  border-width: 1px;
  padding: 1px 3px;
  border-radius: 5px;
}

.timeline-section .container .content .header .status i {
  font-size: 0.7rem;
  font-weight: 300;
}

.timeline-section .container .content .header .status span {
  font-weight: 400;
  font-size: 0.7rem;
  margin-left: 3px;
}

.timeline-section .container .content .header .completed {
  border-color: #82f899;
  background-color: #27581db2;
  color: #90faa5;
}

.timeline-section .container .content .description {
  color: #2c2c2c;
  padding: 5px;
}

.timeline-section .container .content .description .strip-light {
  border-radius: 2px;
  padding: 0px 10px;
  background-color: #FEE3EC;
}

.timeline-section .container .content .description .strip-light i {
  margin-right: 8px;
}

.timeline-section .container .content .description .strip-light span {
  font-size: 0.9rem;
}

.timeline-section .container .content .description p {
  -webkit-backdrop-filter: blur(3rem);
          backdrop-filter: blur(3rem);
}

#circle {
  position: absolute;
  width: 500px;
  height: 500px;
  background: red;
  border-radius: 50%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: 2px;
     object-position: 2px;
}

.image-box {
  border-radius: 50%;
  margin: 0px auto;
}

.image-box img {
  border-radius: 50%;
  width: 70%;
  height: auto;
}

.hero-buttons a {
  display: block;
}

@media (max-width: 415px) {
  .hero-heading,
  .hero-parra,
  .hero-buttons {
    text-align: center;
  }
  .hero-box {
    height: 100vh;
    padding: 0rem 2rem;
  }
  .hero-buttons {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .timeline-section {
    padding: 2rem 10px;
  }
  .status {
    font-size: 0.5rem;
  }
  .status i {
    font-size: 0.5rem;
  }
  .status span {
    font-size: 0.5rem;
  }
}

@media (min-width: 800px) {
  .timeline-logo img {
    width: 4rem;
  }
  .hero-box {
    padding: 2rem 2rem;
  }
  .hero-heading h1 {
    font-size: 3.4rem;
  }
}
/*# sourceMappingURL=style.css.map */